<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List | 안희원</title>

    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <link rel="stylesheet" href="/static/global.css" />
  </head>
  <body>
    <h1>To-Do List ━ ✩・*。</h1>
    <select defaultSelected="default" id="todo-section">
      <option id="default" value="default">기본</option>
    </select>
    <div id="todo-list"></div>
    <form id="todo-form">
      <input type="text" id="section" placeholder="Section" required />
      <input type="text" id="title" placeholder="Title" required />
      <input type="text" id="description" placeholder="Description" required />
      <input type="date" id="deadline" />
      <button type="submit">Add To-Do</button>
    </form>
    <script>
      async function fetchSections() {
        const response = await fetch('/sections');
        const sections = await response.json();
        const todoSection = document.getElementById('todo-section');
        sections.forEach((section, idx) => {
          const op = document.createElement('option');
          op.id = idx;
          op.value = section;
          op.innerHTML = section;
          todoSection.appendChild(op);
        });
      }

      async function filterSection() {
        const selectedValue = document.getElementById('todo-section').value;
        fetchTodos(selectedValue);
      }

      async function editTodo(id, title, description) {
        const res = await fetch(`/todos/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            id: Date.now(),
            title,
            description,
            completed: false,
          }),
        });
      }

      async function deleteTodo(id) {
        const res = await fetch(`/todos/${id}`, {
          method: 'DELETE',
        });
      }

      async function fetchTodos(section) {
        const response = await fetch(`/todos?section=${section ?? ''}`);
        const todos = await response.json();
        const todoList = document.getElementById('todo-list');
        todoList.innerHTML = '';
        todos.forEach((todo) => {
          const li = document.createElement('div');

          //체크박스 & 내용
          const checkBox = document.createElement('input');
          checkBox.id = todo.id;
          checkBox.type = 'checkbox';
          checkBox.className = 'todo-checkbox';
          checkBox.defaultChecked = todo.completed;
          li.appendChild(checkBox);

          const label = document.createElement('label');
          label.htmlFor = todo.id;
          label.textContent = `[ ${todo.section} ] ${todo.title}: ${
            todo.description
          } (${todo.deadline ?? 'deadline없음'})`;
          li.appendChild(label);

          // btn
          const btnDiv = document.createElement('div');

          const editBtn = document.createElement('button');
          editBtn.textContent = 'Edit';
          editBtn.addEventListener('click', () => {
            const userInput = prompt(
              '수정할 내용을 입력하세요.',
              '/로 구분해 주세요. ex.할일1/설명1'
            );
            const u = userInput.split('/');
            editTodo(todo.id, u[0], u[1]);
            // fetchTodos();
            window.location.reload();
          });
          btnDiv.appendChild(editBtn);

          const delBtn = document.createElement('button');
          delBtn.textContent = 'Delete';
          delBtn.addEventListener('click', () => {
            deleteTodo(todo.id);
            window.location.reload();
          });
          btnDiv.appendChild(delBtn);

          li.appendChild(btnDiv);

          todoList.appendChild(li);
        });
      }

      document
        .getElementById('todo-form')
        .addEventListener('submit', async (event) => {
          event.preventDefault();
          const title = document.getElementById('title').value;
          const description = document.getElementById('description').value;
          const section = document.getElementById('section').value;
          const deadline = document.getElementById('deadline').value;
          console.log(deadline);
          const response = await fetch('/todos', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              id: Date.now(),
              title,
              description,
              completed: false,
              section,
              deadline: String(deadline),
            }),
          });
          if (response.ok) {
            fetchTodos();
          }
        });

      document
        .getElementById('todo-section')
        .addEventListener('change', filterSection);

      fetchTodos();
      fetchSections();
    </script>
  </body>
</html>
